.portada{
	background-image: url("../images/background.png");
	color: white;
	font-family: "Montserrat","sans-serif";

}

.portada h1{
	font-size: 74px
}

.prtada h3{
	font-size: 24px
}

.menu{
	font-size: 24px;
	display: inline-block;
}

.menu li{
	display: inline-block;
}

.logotipo{
	display: inline-block;
}