.portada{
	background-image: url("../images/background.png");
	color: white;
	font-family: "Montserrat","sans-serif";

}

*{
	padding: 10px;
	margin:  auto;
	border: 2px solid blue;
}

.portada{
	width: 800px;
}

.portada h1{
	font-size: 74px
}

.prtada h3{
	font-size: 24px;
	margin: auto;
}

.menu{
	font-size: 24px;
	display: inline-block;
	margin-left: 300px;
}

.menu li{
	display: inline-block;
}

.logotipo{
	display: inline-block;
	margin-left: 200px;
	margin-top: 100px;
}